<script type="text/ng-template" id="templates/todays_menus">

  <div data-ng-controller="locationsMenuController">

    <select data-ng-model="value" data-ng-change="updateSelectedLocations(value, locations)" >
      <option value="5">Closest Locations (1 miles)</option>
      <option value="10">Closer Locations (5 miles)</option>
      <option value="15">Close Locations (15 miles)</option>
    </select>

    <div data-ng-if="showHide">
      <p>Please select a location range above.</p>
    </div>

    <div>
      <ul class="">
        <li data-ng-repeat="location in selectedLocations">
          <span style="color:#1F7099; font-weight:bold">{{location.title}}</span>
          <p>{{location.info}}</p>
        </li>
      </ul>
    </div>

  </div>

</script>
